@use 'variaveis';
@use 'hero';
@use "shows";

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}
@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

*{
    margin:0;
    box-sizing: border-box;
    padding: 0;
    font-family: Avenir, sans-serif;

}
body{
    background-color: variaveis.$corDeFundo;
}
@mixin title ($fontSize: 40px) {
    @include text($fontSize);
    color: variaveis.$cortextoSecundario;

}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    color: variaveis.$corTextoPrincipal;
    line-height: $fontSize + 10px;
}

.text--big{
    @include text(18px);
}
.text {
    @include text;
}
.text--small {
    @include text(12px);
    
}
.title--big{
    @include title(44px);
}
.title{
    @include title;
}
.title--small{
    @include title(28px);
}
.link-text {
    @include text(18px);
    color: variaveis.$cortextoSecundario;
    text-decoration: underline;
}